@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
h1 {
  color: teal;
}
form {
  display: inline-block;
  width: 90%;
  text-align: left;
}
table {
  width: 100%;
  border: 0;
  padding: 0;
  border-spacing: 0;
}
th, td {
  padding: 0;
}
input[type="text"], input[type="date"], input[type="number"], textarea, select {
  width: 100%;
  background: transparent;
  border: none;
}
.judul {
  padding-top: 10px;
  font-weight: 600;
  height: 45px;
  border-bottom: 2px solid teal;  
}
.label, .input {
  height: 32px;
  border-bottom: 1.5px solid #DEDEDE;
}
.input {
  background-color: #EAEAEA;
  padding: 0 10px;
}
td:nth-child(3) {
  padding: 0 10px;
}
button {
  float: right;
  background-color: teal;
  border: none;
  color: white;
  padding: 10px 28px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}